<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="moveExpiredTicketsHour" value="0"/>
      <add key="moveExpiredTicketsMinute" value="0"/>
      <add key="moveExpiredTicketsSecond" value="0"/>
    </appSettings>
    <connectionStrings>
      <add name="SQLServer" connectionString="Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;"/>
      <add name="PreTableText" connectionString="FlightDatabase.dbo."/>
    </connectionStrings>
</configuration>